.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
others/**
out/test/**
*.js
i18n/**
*.zip
*.bak
*.bat
images/**
node_modules/**
README_ZH.md