.n-select {
    width: 300px;
}

.fileSelect {
    width: 500px;
}

.fixedSelect>div:first-child>div:first-child {
    position: fixed;
    padding: 5px;
    z-index: 1000;
    background-color: aliceblue;
}

.fixedSelect>div:nth-child(2)>div:first-child {
    margin-top: 40px;
}