.intro {
  font-size: smaller;
  color: #2080f0;
  ;
}

.error {
  font-size: smaller;
  color: #f02020;
  ;
}

.n-input-number {
  width: 150px
}

.n-color-picker,
.n-select {
  width: 220px;
}

.n-input {
  width: 300px;
}

.n-anchor-link {
  font-size: 16px;
}

.n-space {
  margin: 3px
}

body {
  scroll-behavior: smooth;
  /* 添加平滑滚动效果 */
}

@keyframes flash {
  from {
    background-color: orange;
  }

  to {
    background-color: #ffffff;
  }
}

.saveBlink {
  animation: flash 0.6s infinite alternate;
}

 .color-changing-div {
    position: relative;
    border: 1px blue solid;
    animation: colorShift 18s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes colorShift {
    0% {
        background-color: #00B7EB;
    }

    16.67% {
        background-color: #C8D7E3;
    }

    33.33% {
        background-color: #7AC142;
    }

    50% {
        background-color: #003366;
    }

    66.67% {
        background-color: #0078D7;
    }

    83.33% {
        background-color: #8E44AD;
    }

    100% {
        background-color: #00B7EB;
    }
}

.allContain {
    width: calc(100% - 6px);
    margin: 0px;
    padding: 2px;
    border: 1px solid #ccc;
    position: relative;
}

.container,
.new-div,
.ctrl-div,
.app-div {
    position: absolute;
    text-align: center;
}