.intro {
  font-size: smaller;
  color: #2080f0;
  ;
}

.error {
  font-size: smaller;
  color: #f02020;
  ;
}

.n-input-number {
  width: 150px
}

.n-color-picker,
.n-select {
  width: 220px;
}

.n-input {
  width: 300px;
}

.n-anchor-link {
  font-size: 16px;
}

.n-space {
  margin: 3px
}

body {
  scroll-behavior: smooth;
  /* 添加平滑滚动效果 */
}

@keyframes flash {
  from {
    background-color: orange;
  }

  to {
    background-color: #ffffff;
  }
}

.saveBlink {
  animation: flash 0.6s infinite alternate;
}